.menubar {
    font-weight: 500;
    font-size: 17px;
}

a:hover {
    color: red;
}


/*.navbar-default .navbar-nav>li>a {
    color: red;
}*/

.blog-pic {
    width: 750px;
    height: 380px;
    border-radius: 10px;
}

.padtop200 {
    padding-top: 200px;
}

.sidebar-title {
    width: 140px;
    border: 1px solid black;
    background-color: black;
    text-transform: uppercase;
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 0px 0px 10px 10px;
    font-weight: 500;
}

.sidebar-post {
    padding-top: 40px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.padtop15 {
    padding-top: 15px;
}

.sidebar-load {
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
}

.load-more {
    background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
}

.sidebar-pic {
    padding-top: 40px;
    border-radius: 5px 5px 5px 5px;
}

.footer-pic {
    padding-top: 30px;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 130px;
}

.footerlist {
    list-style: none;
}

.footer-post {
    padding-top: 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.padtop40 {
    padding-top: 40px;
}

.footer-logo-text {
    padding-top: 30px;
    line-height: 30px;
    font-size: 17px;
}

.padtop30 {
    padding-top: 30px;
}

.sidebar-top {
    border-top: 1px solid #F0F0F0;
}

.padbtm50 {
    padding-bottom: 50px;
}

.padtop50 {
    padding-top: 50px;
}

.post-title {
    padding-top: 30px;
    padding-bottom: 20px;
}

.font-high-light {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.copyright {
    background-color: #000000;
}

.copy-text {
    padding: 20px;
    color: white;
}

.footer-bg {
    background-image: url("../images/bg.jpg");
}

.footer-post {
    color: white;
}

.footer-category {
    line-height: 35px;
    font-size: 18px;
    font-weight: 500;
}